.scrollbar {
    height: 90%;
  }
  
  .scroll-content {
    padding: 8px; /* Add padding to match your design */
    
  }
  
  .scrollbar-track {
    background-color: transparent;
  }
  
  .scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Customize thumb color */
    border-radius: 5pax; /* Customize thumb border radius */
  }
  
  .scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Customize thumb color on hover */
  }
  